# PARA EL SEED DE SUPER USER (ANALISTA DE FRAUDES)
SEED_ADMIN_EMAIL=admin@test.com
SEED_ADMIN_PASSWORD=123456

# PARA EL DOCKER LOCAL O DESPLEGADO CON LA BBDD
PORT=3000

DB_NAME=nombre_BBDD
DB_USER=postgres
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432

JWT_SECRET=super_secret_key

FRONTEND_URL=http://localhost:5173
NODE_ENV=development
RUN_SEED=true